<!DOCTYPE html>
<html lang="zh-TW">
  <%- include ClientApp/ejs/index_2/public/globalHead.ejs %>  
  <body>
    <%- include ClientApp/ejs/index_2/public/globalStyle.ejs %>  

    <%if (htmlWebpackPlugin.options.outputFile.isProd) {%> <% for (var css in
    htmlWebpackPlugin.files.css) { %>
    <link
      href="wwwroot/webpackTest<%= htmlWebpackPlugin.files.css[css] %>"
      rel="stylesheet"
    />
    <% } %> <% } %>


    <!-- Here is our page's main content -->
    <%- include ClientApp/ejs/index_2/public/loader.ejs %>

    <!-- path是相對於運行webpack的位置 -->
    <%- include ClientApp/ejs/index_2/public/header.ejs %>

    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area">
        <div class="hero-slideshow owl-carousel">

            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(wwwroot/cpoyVendor/credit/img/bg-img/1.jpg);"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">
                                <!-- <h6 data-animation="fadeInUp" data-delay="100ms"></h6> -->
                                <h2 data-animation="fadeInUp" data-delay="300ms"><span>仲品</span>聯合會計師事務所</h2>
                                <p data-animation="fadeInUp" data-delay="500ms">專業負責的態度</p>
                                <a href="index.html" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">立即聯絡</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(wwwroot/cpoyVendor/credit/img/bg-img/5.jpg);"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">
                                <!-- <h6 data-animation="fadeInDown" data-delay="100ms">值得信賴</h6> -->
                                <h2 data-animation="fadeInUp" data-delay="300ms"><span>仲品</span>聯合會計師事務所</h2>
                                <p data-animation="fadeInDown" data-delay="500ms">秉持熱忱之專業素養</p>
                                <a href="index.html" class="btn credit-btn mt-50" data-animation="fadeInDown" data-delay="700ms">立即聯絡</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

        </div>
    </div>
    <!-- ##### Hero Area End ##### -->

    <section class="features-area section-padding-100-0 about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-sm-6">
                    <div class="single-features-are wow fadeInUp" data-wow-delay="300ms">
                        <img src="wwwroot/cpoyVendor/credit/img/bg-img/2.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Section Heading -->
                        <div class="section-heading">
                            <div class="line"></div>
                            <p>秉持熱誠</p>
                            <h2>關於仲品</h2>
                        </div>
                        <h6>仲品聯合會計師事務所意為核心的整體顧客服務體系（Total Customer Service System）的事業理念， 我們以熱情的態度提供您專業、完整之專業服務。 協助您的事業登峰造極，並讓您無後顧之憂地拓展事業版圖，是我們的最終目標</h6>
                        <a href="#" class="btn credit-btn mt-50">與我聯繫</a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
              <div class="col-12 col-sm-6">
                <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="100ms">
                  <!-- Section Heading -->
                  <div class="section-heading">
                    <div class="line"></div>
                    <p>價值&nbsp;理念&nbsp;願景</p>
                    <h2>經營目標</h2>
                  </div>
                  <h6>仲品聯合以成為企業最佳夥伴所為願景， 致力於營運卓越、客戶導向及價值分享為基礎，透過明確執行力， 以專業品質為核心，達成客戶滿意為依歸</h6>
                  <a href="#" class="btn credit-btn mt-50">與我聯繫</a>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                  <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                      <img src="wwwroot/cpoyVendor/credit/img/bg-img/2.jpg" alt="">
                  </div>
              </div>
            </div>
        </div>
    </section>

    <!-- ##### Call To Action Start ###### -->
    <section class="cta-area d-flex flex-wrap">
        <!-- Cta Thumbnail -->
        <div class="cta-thumbnail bg-img jarallax" style="background-image: url(wwwroot/cpoyVendor/credit/img/bg-img/5.jpg);"></div>

        <!-- Cta Content -->
        <div class="cta-content">
            <!-- Section Heading -->
            <div class="section-heading white">
                <div class="line"></div>
                <!-- <p>Bold desing and beyound</p> -->
                <h2 class="wow faceIn" data-wow-delay="300ms">主要服務項目</h2>
            </div>
            <h6>珍惜所託，值得信賴</h6>
            <div class="d-flex flex-wrap mt-50">
                <!-- Single Skills Area -->
                <div class="single-skils-area mb-70 mr-5 wow fadeInUp" data-wow-delay="300ms">
                    <div id="circle" class="circle" data-value="1.00">
                        <div class="skills-text">
                            <span>100%</span>
                        </div>
                    </div>
                    <p>審計服務</p>
                </div>

                <!-- Single Skills Area -->
                <div class="single-skils-area mb-70 mr-5 wow fadeInUp" data-wow-delay="500ms">
                    <div id="circle2" class="circle" data-value="1.00">
                        <div class="skills-text">
                            <span>100%</span>
                        </div>
                    </div>
                    <p>稅務服務</p>
                </div>

                <!-- Single Skills Area -->
                <div class="single-skils-area mb-70 mr-5 wow fadeInUp" data-wow-delay="700ms">
                    <div id="circle3" class="circle" data-value="1.00">
                        <div class="skills-text">
                            <span>100%</span>
                        </div>
                    </div>
                    <p>交易諮詢服務</p>
                </div>

                <!-- Single Skills Area -->
                <div class="single-skils-area mb-70 mr-5 wow fadeInUp" data-wow-delay="900ms">
                    <div id="circle10" class="circle" data-value="1.00">
                        <div class="skills-text">
                            <span>100%</span>
                        </div>
                    </div>
                    <p>企業諮詢服務</p>
                </div>

                <!-- Single Skills Area -->
                <div class="single-skils-area mb-70 mr-5 wow fadeInUp" data-wow-delay="1100ms">
                    <div id="circle11" class="circle" data-value="1.00">
                        <div class="skills-text">
                            <span>100%</span>
                        </div>
                    </div>
                    <p>法律服務</p>
                </div>
            </div>
            <!-- <a href="#" class="btn credit-btn box-shadow btn-2">Read More</a> -->
        </div>
    </section>
    <!-- ##### Call To Action End ###### -->

    <!-- ##### Features Area Start ###### -->
    <section class="features-area section-padding-100-0 professionalTeam">
        <div class="container">
            <div class="row align-items-start">

                <div class="col-12 col-md-3">
                    <div class="single-features-area mb-100 wow fadeInUp text-center text-sm-left" data-wow-delay="100ms">
                        <!-- Section Heading -->
                        <div class="section-heading">
                            <div class="line"></div>
                            <p>Take look at our</p>
                            <h2>專業團隊</h2>
                        </div>
                        <h6>秉持熱誠，給您最專業的服務</h6>
                        <!-- <a href="#" class="btn credit-btn mt-50">Discover</a> -->
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                                <img class="img-thumbnail" src="wwwroot/images/professionalTeam/Chen.jpg" alt="">
                                <h5 class="mb-2">所長</h5>
                                <h4 class="name mb-4 fz-19x">陳俊仲</h4>
                                <h5 class="my-3">學經歷</h5>
                                <ul class="list">
                                    <li>中興大學法商學院會計系</li>
                                    <li>考試院高等考試會計師考試及格</li>
                                    <li>安永聯合會計師事務所資深經理</li>
                                    <li>群智聯合會計師事務所會計師</li>
                                </ul>
                                <h5 class="my-3">專長</h5>
                                <ul class="list">
                                    <li>財務報表審計</li>
                                    <li>稅務申報與查核簽證</li>
                                    <li>公司與個人租稅規劃</li>
                                    <li>內部控制制度之設計及輔導</li>
                                    <li>上市、上櫃、公開發行之輔導</li>
                                    <li>境外公司之設立與規劃</li>
                                    <li>營利事業設立、變更、解散及增減資之登記</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                                <img class="img-thumbnail" src="wwwroot/images/professionalTeam/Kid.jpg" alt="">
                                <h5 class="mb-2">營運長</h5>
                                <h4 class="name mb-4 fz-19x">莊豐銘</h4>
                                <h5 class="my-3">學經歷</h5>
                                <ul class="list">
                                    <li>台灣大學會計系</li>
                                    <li>成功大學會計研究所</li>
                                    <li>安永聯合會計師事務所審計經理</li>
                                    <li>中國安永會計師事務所審計經理</li>
                                    <li>安永聯合會計師事務所稅務經理</li>
                                    <li>高考會計師考試及格</li>
                                    <li>內部稽核師</li>
                                </ul>
                                <h5 class="my-3">專長</h5>
                                <ul class="list">
                                    <li>公司與個人租稅規劃</li>
                                    <li>內部控制制度之設計及輔導</li>
                                    <li>大陸稅務諮詢</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="700ms">
                                <img class="img-thumbnail" src="https://picsum.photos/175/265?image=1027" alt="">
                                <h5 class="mb-2">工商登記部門 經理</h5>
                                <h5 class="mb-2">帳務登記部門 經理</h5>
                                <h4 class="name mb-4 fz-19x">鍾佳妏</h4>
                                <h5 class="my-3">學經歷</h5>
                                <ul class="list">
                                    <li>台中技術學院企業管理科</li>
                                    <li>大舜會計顧問事務所</li>
                                    <li>大亞聯合會計師事務所</li>
                                </ul>
                                <h5 class="my-3">專長</h5>
                                <ul class="list">
                                    <li>會計帳務處理</li>
                                    <li>工商變更登記</li>
                                    <li>對外投資申報</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="900ms">
                                <img class="img-thumbnail" src="https://picsum.photos/175/265?image=1027" alt="">
                                <h5 class="mb-2">法律顧問</h5>
                                <h4 class="name mb-4 fz-19x">張嘉麟 律師</h4>
                                <h5 class="my-3">學經歷</h5>
                                <ul class="list">
                                    <li>東吳大學法律學系</li>
                                    <li>高考律師及格</li>
                                    <li>群展國際法律事務所律師</li>
                                    <li>大恆國際法律事務所律師</li>
                                    <li>臺中市西屯區公所法律扶助顧問</li>
                                    <li>南投縣集集鎮區公所法律顧問</li>
                                    <li>財團法人法律扶助基金會扶助律師</li>
                                    <li>多家企業商行法律顧問</li>
                                    <li>臺中市身心障礙者財產信託服務計</li>
                                    <li>畫-信託監察人</li>
                                    <li>經濟部中小企業榮譽律師</li>
                                </ul>
                                <h5 class="my-3">專長</h5>
                                <ul class="list">
                                    <li>民事刑事案件處理</li>
                                    <li>行政事件糾紛處理</li>
                                    <li>高級企業法律顧問</li>
                                    <li>商務非訟爭議研究</li>
                                    <li>智財爭議問題處理</li>
                                    <li>協商談判討論諮詢</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- ##### Features Area End ###### -->

    <!-- ##### Call To Action Start ###### -->
    <section class="cta-2-area wow fadeInUp" data-wow-delay="100ms">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Cta Content -->
                    <div class="cta-content d-flex flex-wrap align-items-center justify-content-between">
                        <div class="cta-text">
                            <h4 class="fz-27x">需要專業的協助嗎? 請立即與我聯繫</h4>
                        </div>
                        <div class="cta-btn">
                            <a href="#contactUs" class="btn credit-btn box-shadow">立即聯絡</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Call To Action End ###### -->

    <!-- ##### Services Area Start ###### -->
    <section class="services-area section-padding-100-0 moneyNews">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center wow fadeInUp mb-40x" data-wow-delay="100ms">
                        <div class="line"></div>
                        <p>與您分享最新財務資訊</p>
                        <h2>財務新聞</h2>
                    </div>
                </div>
                <div class="col-12">
                    <!-- yahoo news -->
                    <!-- start feedwind code -->
                    <!-- <script type="text/javascript">
                        document.write('\x3Cscript type="text/javascript" src="' + ('https:' == document.location.protocol ? 'https://' : 'http://') + 'feed.mikle.com/js/rssmikle.js">\x3C/script>');
                    </script>
                    <script type="text/javascript">
                        (function () {
                            var params = {
                                rssmikle_url: "https://tw.stock.yahoo.com/rss/url/d/e/N11.html",
                                rssmikle_frame_width: "1000",
                                rssmikle_frame_height: "400",
                                frame_height_by_article: "",
                                rssmikle_target: "_blank",
                                rssmikle_font: "Arial, Helvetica, sans-serif",
                                rssmikle_font_size: "12",
                                rssmikle_border: "off",
                                responsive: "off",
                                rssmikle_css_url: "",
                                text_align: "left",
                                text_align2: "left",
                                corner: "off",
                                scrollbar: "on",
                                autoscroll: "on",
                                scrolldirection: "up",
                                scrollstep: "3",
                                mcspeed: "20",
                                sort: "New",
                                rssmikle_title: "on",
                                rssmikle_title_sentence: "",
                                rssmikle_title_link: "",
                                rssmikle_title_bgcolor: "#0066FF",
                                rssmikle_title_color: "#FFFFFF",
                                rssmikle_title_bgimage: "",
                                rssmikle_item_bgcolor: "#FFFFFF",
                                rssmikle_item_bgimage: "",
                                rssmikle_item_title_length: "55",
                                rssmikle_item_title_color: "#0066FF",
                                rssmikle_item_border_bottom: "on",
                                rssmikle_item_description: "on",
                                item_link: "off",
                                rssmikle_item_description_length: "150",
                                rssmikle_item_description_color: "#666666",
                                rssmikle_item_date: "gl1",
                                rssmikle_timezone: "Etc/GMT",
                                datetime_format: "%b %e, %Y %l:%M:%S %p",
                                item_description_style: "text",
                                item_thumbnail: "full",
                                article_num: "15",
                                rssmikle_item_podcast: "off",
                                keyword_inc: "",
                                keyword_exc: ""
                            };
                            feedwind_show_widget_iframe(params);
                        })();
                    </script>
                    <div style="font-size:10px; text-align:center; width:300px;" class="d-none">
                        <a href="http://feed.mikle.com/" target="_blank" style="color:#CCCCCC;"></a>
                    </div> -->
                    <!-- start feedwind code --> 
                    <iframe src="https://feed.mikle.com/widget/v2/100922/" height="480px" width="100%" class="fw-iframe" scrolling="no" frameborder="0"></iframe>
                    <!-- end feedwind code -->
                    <!-- end feedwind code -->
                    <!-- yahoo news- -->
                    <!-- <script>
                        (function(){
                            var frm = frames['frame'].document;
                            var otherhead = frm.getElementsByTagName("head")[0];
                            var link = frm.createElement("link");
                            link.setAttribute("rel", "stylesheet");
                            link.setAttribute("type", "text/css");
                            link.setAttribute("href", "styleaaaa.css");
                            otherhead.appendChild(link);
                        })()
                    </script> -->
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- ##### Services Area End ###### -->

    <!-- ##### Newsletter Area Start ###### -->
    <section class="newsletter-area section-padding-100 bg-img jarallax" style="background-image: url(wwwroot/cpoyVendor/credit/img/bg-img/6.jpg);">
        <div class="container wow fadeInUp">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-lg-8">
                    <div class="nl-content text-center">
                        <h2 class="zpcpaColor">仲品聯合會計師事務所</h2>
                        <p>秉持熱忱、專業之理念，發揮「會計師」對帳務事務之專業素養。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Newsletter Area End ###### -->


    <%- include ClientApp/ejs/index_2/public/footer.ejs %>

    <%- include ClientApp/ejs/index_2/public/globalScript.ejs %> 

    <script src="<%= htmlWebpackPlugin.options.outputFile.vendor %>"></script>

    <%if (htmlWebpackPlugin.options.outputFile.isProd) {%> <% for (var chunk in
    htmlWebpackPlugin.files.chunks) { %>
    <script src="wwwroot/webpackTest<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %> <%} else {%> <% for (var chunk in htmlWebpackPlugin.files.chunks) {
    %>
    <script src="http://localhost:<%= htmlWebpackPlugin.options.outputFile.port %><%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %> <% } %>

  </body>
</html>
